        <select name="model_dropdown" data-default-model="{{ default_model_id }}">
          {% for group in model_dropdown_groups %}
          <optgroup label="{{ group.label }}">
            {% for option in group.options %}
            <option value="{{ option.id }}"{% if option.id == default_model_id %} selected{% endif %}>
              {{ option.label }}{% if option.id == default_model_id %} (default){% endif %}
            </option>
            {% endfor %}
          </optgroup>
          {% endfor %}
        </select>
